@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
  margin-left: auto;
  margin-right: auto;
  color: #424242;
  font-family: "Cabin", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about {
  padding-bottom: 20px;
}

.about-bottom {
  padding-bottom: 50px;
}

h1 {
  padding-bottom: 10px;
}
	
h1 {
	font-family: 'Monoton', cursive;
	text-align: center;
	font-size: 75px;
}
	
/* Contact form */

#contact-section {
	padding-top: 50px;
	padding-bottom: 50px;
  margin: auto;
}

.well {
  text-transform: uppercase;
  background-color: white;
  color: black;
}

.form-control {
	    border-radius: 0;
	    border:2px solid #1e1e1e;
}

.btn {
	    border-radius:0;
	    border:2px solid #1e1e1e;
}

@media (max-width: 1000px) {
    #contact iframe {
        margin-bottom: 15px;
    }

}

/* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#footer {
	background: #007b5e !important;
	padding: 20px;
	color: #007b5e;
	text-align: center;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
