@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);

body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Cabin" sans-serif;
  padding-top: 70px;
  color: #000000 !important;
}

.content {
  padding-bottom: 30px;
}

h1 {
	text-align: center;
	font-family: Cabin Sketch, cursive;
	font-size: 5em;
}

a { 
	color: #ffffff !important;
}

#homep {
	padding-top: 50px;
	padding-bottom: 50px;
}

#impact {
	padding-top: 50px;
	padding-bottom: 50px;
}

#get-involved {
	padding-top: 50px;
	padding-bottom: 50px;
}

#aboutus {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Nav bar */

#main-navbar {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #007b5e !important;
  color: #ffffff !important;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.well well-sm {
	background: #007b5e !important;
}

/* Contact form */

#contact-section {
	padding-top: 50px;
	padding-bottom: 100px;
}

.well {
  background: #ffffff !important;
  text-transform: uppercase;
  padding-top: -10px !important;
  padding-bottom: 15px !important;
}

.form-control {
  border-radius: 0;
  border:2px solid #1e1e1e;
}

.btn {
  border-radius:0;
  border:2px solid #1e1e1e;
}

@media (max-width: 1000px) {
  #contact iframe {
    margin-bottom: 15px;
    }
}

/* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#footer {
	background: #007b5e !important;
	padding: 20px;
	text-align: center;
}

#footer h4 {
  padding-left: 10px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  color: #ffffff !important;
  text-transform: uppercase;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

@media (max-width:767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
.page-scroll{font-family:Cabin Sketch;}
