@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);

body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Cabin" sans-serif;
  padding-top: 70px;
  color: #000000 !important;
  font-size: 15px;
}

.content {
  padding-bottom: 30px;
}

h1 {
	text-align: center;
	font-family: Cabin Sketch, cursive;
	font-size: 5em;
}

h2, h3 {
	text-align:center;	
}

a {
	color: #ffffff !important;
}

#homep {
	padding-top: 50px;
	padding-bottom: 50px;
}

#impact {
	padding-top: 50px;
	padding-bottom: 50px;
}

#get-involved {
	padding-top: 50px;
	padding-bottom: 50px;
}

#aboutus {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Nav bar */

#main-navbar {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #007b5e !important;
  color: #ffffff !important;
  font-size: 17px;
}

.navbar-brand {
  font-size: 20px;
  text-transform: uppercase;
}

/* Contact form */

#contact-section {
	padding-top: 50px;
	padding-bottom: 100px;
}

.well {
  background: #ffffff !important;
  text-transform: uppercase;
  padding-top: -10px !important;
  padding-bottom: 15px !important;
  border-color: #007b5e !important;
  border-width: 2px;
}

.form-control {
  border-radius: 0;
  border:2px solid #1e1e1e;
}

.btn {
  border-radius:0;
  border:2px solid #1e1e1e;
}

@media (max-width: 1000px) {
  #contact iframe {
    margin-bottom: 15px;
    }
}

/* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#footer {
	background: #007b5e !important;
	padding: 20px;
	text-align: center;
}

#footer h4 {
  padding-left: 10px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  color: #ffffff !important;
  text-transform: uppercase;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

@media (max-width:767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
.page-scroll{font-family:Cabin Sketch;}
p{
 	text-align:center;
 }
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
